db_files

/.idea/workspace.xml
/.idea/inspectionProfiles
*.apk

.project
.classpath
.project.properties
gen/
tests/stress/gen/
WallpaperPicker/gen/
WallpaperPicker/.project.properties
bin/
.gradle/
local.properties
gradle/
build/
gradlew*
